### Import libraires

In [9]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler, MinMaxScaler
import matplotlib.pyplot as plt
import seaborn as sns

### Nettoyage des données

In [10]:
data = pd.read_csv("data/donnees_camions.csv")
data.head()
data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Ville de depart           600 non-null    object
 1   Ville d'arrivee           600 non-null    object
 2   Distance (km)             600 non-null    int64
 3   Heure depart prevue       600 non-null    object
 4   Heure arrivee prevue      600 non-null    object
 5   Heure arrivee reelle      600 non-null    object
 6   Poids (kg)                600 non-null    int64
 7   Retard observe (minutes)  600 non-null    int64
dtypes: int64(3), object(5)
memory usage: 37.6+ KB

       Distance (km)    Poids (kg)  Retard observe (minutes)
count     600.000000    600.000000                600.000000
mean      395.883333  21311.825000                 58.971667
std       214.388644  10670.249236                 35.809049
min        95.000000   2035.000000                  0.000000
25%       240.000000  12246.500000                 27.000000
50%       320.000000  21335.000000                 59.500000
75%       555.000000  30631.500000                 90.250000
max       865.000000  39944.000000                120.000000

In [11]:
# Remplacer les valeurs manquantes dans la colonne "Retard observe (minutes)" par la moyenne
data.fillna({"Retard observe (minutes)": data["Retard observe (minutes)"].mean()}, inplace=True)

In [12]:
# Étape 3 : Gestion des valeurs aberrantes
data = data[(data["Retard observe (minutes)"] >= 0) & (data["Retard observe (minutes)"] <= 360)]
data = data[(data["Poids (kg)"] >= 2000) & (data["Poids (kg)"] <= 40000)]
distances = {
    ("Agadir", "Marrakech"): 235,
    ("Agadir", "Rabat"): 570,
    ("Agadir", "Casablanca"): 470,
    ("Agadir", "Tanger"): 865,
    ("Marrakech", "Rabat"): 320,
    ("Marrakech", "Casablanca"): 240,
    ("Marrakech", "Tanger"): 555,
    ("Rabat", "Casablanca"): 95,
    ("Rabat", "Tanger"): 250,
    ("Casablanca", "Tanger"): 340,
}

In [13]:
for index, row in data.iterrows():
    distance_verifiee = distances.get((row["Ville de depart"], row["Ville d'arrivee"])) or distances.get((row["Ville d'arrivee"], row["Ville de depart"]))
    if row["Distance (km)"] != distance_verifiee:
        data.at[index, "Distance (km)"] = distance_verifiee

encoder = LabelEncoder()
data["Ville de depart"] = encoder.fit_transform(data["Ville de depart"])
data["Ville d'arrivee"] = encoder.fit_transform(data["Ville d'arrivee"])

In [14]:
data.to_csv("data/donnees_nettoyees_retards.csv", index=False)
print("Données nettoyées sauvegardées dans 'donnees_nettoyees_retards.csv'")

Données nettoyées sauvegardées dans 'donnees_nettoyees_retards.csv'